
.header-box {
  max-width: 40rem;
  margin: 6rem auto 8rem auto;
  position: relative;
}

.bramble-logo {
  display: inline-block;
  width: 100%;
  position: absolute;
  left: -75%;
}

.site-heading {
  text-transform: lowercase;
  font-weight: 600;
  font-size: 10rem;
  padding-top: 22rem;
  margin: 0;
}

.site-byline {
  max-width: 40rem;
  margin: 0 auto 6rem auto;
}


.page-wrapper-rules {
  max-width: 40rem;
  margin: 0 auto;
}

.btn-link {
  display: block;
  width: 100%;
  margin: 2rem 0;
  padding: 2rem;
  border-radius: 20rem;
  text-align: center;
  // background: #ab80f1;
  // color: #fff;
  border: 3px solid #ab80f1;
  color: #ab80f1;

  &:hover {
    // color: #fff;
    // background: #3de6ae;
    border-color: #3de6ae;
    color: #40c79a;
  }

  &:active {
    transform: translateY(.3rem);
    transition: 0;
  }
}


.page-footer {
  margin-top: 6rem;
  padding-bottom: 6rem;
}


@media only screen and (max-width: 730px) {
  .header-box {
    margin-bottom: 6rem;
  }

  .bramble-logo {
    position: absolute;
    width: 70%;
    left: -30%;
    top: -4rem;
  }

  .site-heading {
    // padding: 0;
  }

  .site-byline {
  }
}

@media only screen and (max-width: 575px) {
  .header-box {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .bramble-logo {
    position: relative;
    width: 65%;
    left: -25%;
    top: 0;
  }

  .site-heading {
    padding: 0;
    font-size: 6.5rem;
  }

  .site-byline {
  }
}
