
.header-box {
  max-width: 40rem;
  margin: 6rem auto 8rem auto;
  position: relative;
}

.bramble-logo {
  display: inline-block;
  width: 100%;
  position: absolute;
  left: -75%;
}

.site-heading {
  text-transform: lowercase;
  font-weight: 600;
  font-size: 10rem;
  padding-top: 22rem;
  margin: 0;
}

.site-byline {
  max-width: 40rem;
  margin: 0 auto 6rem auto;
}


.page-wrapper-rules {
  max-width: 40rem;
  margin: 0 auto;
}

.btn-link {
  display: block;
  width: 100%;
  margin: 2rem 0;
  padding: 2rem;
  border-radius: 20rem;
  text-align: center;
  border: 3px solid $color-primary;
  color: $color-primary;

  &:hover {
    border-color: $color-accent;
    color: $color-link-hover;
  }

  &:active {
    transform: translateY(.3rem);
    transition: 0s;
  }

  &.release {
    border: none;
    background: $color-link;
    color: $color-white;

    &:hover {
      background: $color-link-hover;
    }
  }
}


img.full {
  display: block;
  width: 100%;
  margin: 6rem 0;
  border-radius: 2rem;
  overflow: hidden;
}


.page-footer {
  margin-top: 6rem;
  padding-bottom: 6rem;
}


@media only screen and (max-width: 730px) {
  .header-box {
    margin-bottom: 6rem;
  }

  .bramble-logo {
    position: absolute;
    width: 70%;
    left: -30%;
    top: -4rem;
  }

  .site-heading {
    // padding: 0;
  }

  .site-byline {
  }
}

@media only screen and (max-width: 575px) {
  .header-box {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .bramble-logo {
    position: relative;
    width: 65%;
    left: -25%;
    top: 0;
  }

  .site-heading {
    padding: 0;
    font-size: 6.5rem;
  }

  img.full {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .site-byline {
  }
}
