/* Include libraries =================== */
//@import "libraries/node_modules/bourbon/app/assets/stylesheets/bourbon";
//@import "libraries/node_modules/bourbon-neat/core/neat";


/* Define color variables =================== */
$color-white: #fff;
$color-primary: #ab80f1;
$color-accent: #3de6ae;
$color-link: $color-primary;
$color-link-hover: #40c79a;
$color-background: #FFFFF3;
$color-borders: #E0E3DA;

/* Import partials =================== */
@import "base";
@import "inbox";
